.scene1AnchorPane{
	 /*-fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: gray;
    -fx-border-width: 2;
    -fx-padding: 10;*/

}
.scene2AnchorPane{
	/*  -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: gray;
    -fx-border-width: 2;
    -fx-padding: 10;*/

}

.textfield{
	-fx-border-radius: 10;
	-fx-background-radius: 10;
}