.scene1AnchorPane{
	 /*-fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: gray;
    -fx-border-width: 2;
    -fx-padding: 10;*/

}
.scene2AnchorPane{
	/*  -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: gray;
    -fx-border-width: 2;
    -fx-padding: 10;*/

}

.elements{
	-fx-background-color: #F5CAC3; 
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-prompt-text-fill: #1F2F27

}
.rectangle{
	-fx-background-radius: 20;
	-fx-border-radius: 20;
}
.button{
	-fx-background-color: #F28482; 
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-prompt-text-fill: #1F2F27
	
}

.text-area {
	-fx-border-radius: 20;
	-fx-prompt-text-fill: #1F2F27
}
.text-area .content{
	-fx-background-color: #F5CAC3; 
	-fx-border-radius: 20;
}
.anchorPane{
	-fx-background-color: #84A59D;
}