.elements{
	-fx-background-color: #051923; 
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-prompt-text-fill: #00A6FB;
	-fx-text-fill: #00A6FB;

}
.choice-box .label {
    -fx-text-fill: #00A6FB;
}
.menu-item .label {
    -fx-text-fill: black;  /* Keep dropdown items black */
}

.rectangle{
	-fx-background-radius: 20;
	-fx-border-radius: 20;
}
.button{
	-fx-background-color: #051923; 
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-text-fill: #00A6FB;
}

.text-area {
	-fx-border-radius: 20;
	-fx-prompt-text-fill: #00A6FB;
	-fx-text-fill: #00A6FB;
}
.text-area .content{
	-fx-background-color: #051923; 
	-fx-border-radius: 20;
	
}
.anchorPane{
	-fx-background-color: #003554;
}